!!!
%html
  %head
    -# Basic Needs
    %meta{charset: "utf-8"}
    %title Paola Valdez
    %meta{ name: "description", content: "Paola Eunice Valdez Marcos | Marketing" }
    %meta{ name: "owner", content: "Paola Eunice Valdez Marcos" }
    %meta{ name: "author", content: "Luis Osnet" }
    -# Mobile Specific Metas
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ 'http-equiv': "x-ua-compatible", content: "ie=edge, chrome=1" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = render template: "layouts/_nav"
  = yield
